{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "none",
    "printWidth": 140,
    "bracketSameLine": true,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "svelteSortOrder": "options-scripts-styles-markup",
    "svelteBracketNewLine": false,
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
