selenium==4.16.0
selenium-wire==5.1.0
python-dateutil==2.8.2
databases==0.8.0
databases[mysql]
asyncio==3.4.3
twitchAPI==4.1.0
praw==7.7.1
rich==12.4.4
requests
openai==1.7.2
pyotp==2.9.0
instagrapi==2.0.1
pillow==10.3.0
blinker==1.7.0
tweety-ns==1.1.9
httpx==0.27.2
h2==4.1.0
httpx[http2]
